<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/form.css') }}">
        <title> Subscribe </title>
    </head>

    <body>
        <header>
           <h1>A Pop Up mail form for Subscribers</h1>
        </header>

        <main>
        <button onclick="openForm()" class="butn">Subscribe</button>
        <div class="form-popup" id="myForm">
            <form id="mail-form" method="POST" action="/process_email" class="form-container">
              <input type="text" placeholder="First Name" name="firstName" required>
              <input type="text" placeholder="Last Name" name="lastName" required>
              <input type="text" placeholder="Email Address" name="email" required>
              <button type="submit" class="btn">Join Us</button>
              <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            </form>
          </div>
        </main>

        <!--Form Script-->
        <script>
            function openForm() {
              document.getElementById("myForm").style.display = "block";
            }
            function closeForm() {
              document.getElementById("myForm").style.display = "none";
            }
            </script>
        <!-- Scripts -->
        <script src="{{ url_for('static', filename='scripts/menu.js') }}"> </script>
    </body>
</html>